.bg {
    padding: 0 20px;
    overflow-y: auto;
    padding-bottom: 40px;
}

.header {
    margin-top: 60px;
    font-family: 'e-UkraineHead-Regular';
}

.header h2 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 26px;
}

.search-wrap {
    margin-top: 20px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.search-wrap img {
    width: 20px;
}

.search-wrap input {
    outline: none;
    border: none;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 12px;
    width: 100%;
}

.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.services-item {
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    height: 110px;
    justify-content: space-between;
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    flex: 1 1 calc(50% - 10px); /* Учитывая зазор между элементами */
    margin: 5px; /* Зазор между элементами */
}

.services-item > div {
    padding: 8px;
    background-color: black;
    width: max-content;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.services-item >div> img {
    filter: brightness(0) invert(1);
    width: 18px;
    height: 18px;
    transform: rotate(0);
    object-fit: contain;
}

.services-item > span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 13px;
}

.notfound {
    font-family: 'e-UkraineHead-Regular';
    font-size: 16px;
    font-weight: normal;
}