.container {
    position: relative; /* Обеспечиваем контекст для абсолютного позиционирования */
    width: 100%;
    height: 100vh; /* Высота на весь экран */
  }
  
  .video-background {
    position: absolute; /* Видео будет покрывать весь контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Чтобы видео заполнило весь экран без искажения */
  }
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.more-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
  animation: slideUp 0.3s ease-out forwards; /* Анимация при появлении */
}

.more-info-overlay.hide {
  animation: slideDown 0.3s ease-out forwards; /* Анимация при закрытии */
}

.full-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
  animation: slideUp 0.3s ease-out forwards; /* Анимация при появлении */
}

.passportContainer {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.paginationActive {
  background-color: #000;
}


.passportContainer, .eDocumentContainer {
  flex: 0 0 100%; /* Каждый документ занимает 100% ширины */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-controls {
  position: absolute;
}

.paginationDots {
  position: absolute;
  bottom: 17%;
  left: 50%;
  display: flex;
  gap: 8px;
  transform: translateX(-50%);
}

.paginationDot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationActive {
  opacity: 1;
}
.copy-message {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  background-color: #65c880;
  font-family: 'e-UkraineHead-Regular';
  font-weight: normal;
  font-size: 12px;
  color: #000;
  padding: 20px 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fadeInOut 2.5s ease-in-out;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  10% {
      opacity: 1;
      transform: translateY(0);
  }
  90% {
      opacity: 1;
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      transform: translateY(-20px);
  }
}

.slider {
  position: absolute;
  top: -25px;
  display: flex; /* Слайды располагаются горизонтально */
  width: 100%; /* Контейнер слайдера занимает всю ширину */
  height: 100%; /* Контейнер слайдера занимает всю высоту */
  transition: transform 0.3s ease-in-out; /* Плавный переход */
  overflow: hidden;
}

.sliderItem {
  flex: 0 0 100%; /* Каждый слайд занимает 100% ширины */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Слайд будет занимать 100% ширины контейнера */
  height: 100%; /* Слайд будет занимать 100% высоты контейнера */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}