
.additional {
    min-width: 300px;
    width: 320px;
    height: 560px;
    max-height: 700px;
    perspective: 820px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.additional-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    height: 60%;
    padding: 85px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 24px;
    text-align: center;
}

.additional-item > img {
    width: 35px;
    height: 35px;
}

.additional-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.additional-item > span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 14px;
    font-weight: normal;
}