.header img {
    width: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота экрана */
    padding: 20px;
}

.header {
    margin-top: 40px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1; /* Заполнение оставшегося пространства */
}


.header>span {
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 20px;
}


.body>span {
    font-size: 24px;
    font-family: 'e-UkraineHead-Regular';
}