.bg {
    padding: 0 20px;
    overflow-y: auto;
    padding-bottom: 40px;
}

.header {
    margin-top: 60px;
    font-family: 'e-UkraineHead-Regular';
}

.header h2 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 26px;
}

.header p{
    font-weight: normal;
    font-size: 12px;
    color: rgb(92, 92, 92);
}
.menu-items-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    background: #fff;
    border-radius: 25px;
}

.menu-container {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
}

.menu-container img {
    width: 30px;
}

.menu-container p {
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 14px;
}

.menu-line-throught {
    width: 100%;
    height: 1px;
    background: #e9edee;
}

.footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.footer-btn {
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    color: #fff;
    background: #000;
    padding: 15px 20px; /* Сделаем кнопку меньше */
    border-radius: 25px; /* Соответствующее уменьшение радиуса */
    font-size: 14px; 
    cursor: pointer; 
    max-width: 170px; /* Ограничение по ширине */
    width: 100%; /* Для адаптивности */
}

.footer span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 11px;
    text-decoration: underline;
    font-weight: normal;
    margin-bottom: 20px;
}

.copy-message {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #65c880;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 12px;
    color: #000;
    padding: 20px 0;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: fadeInOut 2.5s ease-in-out;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

