.full-info-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto !important;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    touch-action: pan-y; 
  }
  
  .full-info-overlay.show {
    opacity: 1;
  }
  
  .full-info {
    background-color: #f2f6f7;
    border-radius: 12px 12px 0 0;
    width: 100%;
    max-height: 90%; /* Высота модалки */
    overflow-y: auto !important;
    position: relative;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.2);
    display: block;
    flex-direction: column;
    margin-top: auto; /* Поднимает модалку с самого низа */
  }

  .full-info-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .full-info__header {
    align-self: center; /* Центрирование внутри родителя */
    margin: 20px auto;     /* Центрирование горизонтально */
    margin-bottom: 0;
    height: 4px;
    width: 40px;
    background: #afafaf;
    border-radius: 25px;
}

  
  .full-info-wrap {
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .full-info__item-second {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

.full-info.closing {
    transform: translateY(100%); /* Анимация ухода вниз */
  }

.full-info__header-title {
    font-family: 'e-UkraineHead-Regular';
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
}

.passport_number {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.passport_number > img {
    width: 20px;
}

.passport_number > span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 26px;
    font-weight: normal;
}

.marque-wrap {
    background: linear-gradient(90deg, #b6eb9f, #9ccfcf);
    padding: 7px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .marquee {
    display: inline-block;
    font-size: 5px;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
    width: 300%;
  }
  
  .marquee > span {
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-weight: 300;
  }
  
  /* Анимация бегущей строки */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-20%);
    }
  }

  .full-info-container__item {
    padding: 15px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

.full-info-container__name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.full-info-container-name {
    font-family: 'e-UkraineHead-Regular';
    font-size: 24px;
    font-weight: normal;
}

.full-info-container-name-eng {
    font-family: 'e-UkraineHead-Regular';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}

.passport-details__wrap {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.passport-details__wrap-left {
    width: 50%;
    height: 190px;
}

.passport-details__wrap-left > img {
    min-width: 110px;
    max-width: 150px;
    height: 190px;
    border-radius: 12px;
    border: 1px solid #e9edee;
}

.passport-details__wrap-right-item, .passport-details__wrap-right-item__eng {
    font-family: 'e-UkraineHead-Regular';
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

.passport-details__wrap-right-item__eng {
    color: #a1a1a1;
}

.passport-details__wrap-right > img {
    margin-top: 30px;
    width: 90px;
}

.full-info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-info__item-right, .full-info__item-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3px
}


.full-info__item-right span, .full-info__item-left span, .full-info__item-right-second > span, .full-info__item-left-third > span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 12px;
    font-weight: normal;
}

.full-info__item-right-second {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-info__item-left-third {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.full-info__item-right-second > img{
    width: 20px;
}

.english {
    color: #a1a1a1;
}

.full-info__item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.qr-code {
    width: 250px;
    height: 250px;
  }
  
  
  .more-info__bottom {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 40px;
    align-items: center;
  }
  
  .more-info__item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .more-info__item-bottom span {
    font-size: 12px;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
  }
  
  
  .active-code {
    background: black;
    filter: brightness(1) invert(1);
  }
  
  .inactive-code {
    background: #ddd;
    filter: brightness(0) invert(0.5);
  }
  
  
  .more-info__item-bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ddd;
    width: 54px; /* Убедитесь, что это значение соответствует высоте */
    height: 54px;
    margin-bottom: 10px;
  }
  
  /* Стили для активного и неактивного изображения */
  .activeImage {
    width: 22px;
    height: 22px;
    filter: brightness(1) invert(1); /* Устанавливаем обычную яркость для активного */
  }
  
  .inactiveImage {
    width: 22px;
    height: 22px;
    filter: brightness(1) invert(0); /* Уменьшаем яркость для неактивного */
  }
  .full-info__qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .full-info__qr > h2 {
    font-family: 'e-UkraineHead-Regular';
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #a1a1a1;
  }

  .copy-message {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    background-color: #65c880;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 12px;
    color: #000;
    padding: 20px 0;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    opacity: 0;
    animation: fadeInOut 2.5s ease-in-out;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.full-info__header-subtitle {
  font-family: 'e-UkraineHead-Regular';
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: normal;
}