.rate-document-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    z-index: 1000;
  }

  .rate-document__wrap {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 20px;
  }

  .rate-document__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    align-items: center;
  }

  .rate-document__header>h2{
    font-size: 14px;
    font-weight: normal;
  }

  .line-throught {
    width: 100%;
    height: 1px;
    background: #e9edee;
  }
.rate-document__main {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rate-document__main h2 {
    font-weight: normal;
    font-family: 'e-UkraineHead-Regular';
    font-size: 14px;
}

.rate-document__main > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.rate-document__main > div > span {
    font-size: 36px;
}