.more-info {
    position: relative;
    padding: 20px;
    padding-left: 10px;
    border-radius: 10px;
    width: 100%; /* Или другое значение для адаптивного отображения */
}


.more-info-items__wrapper {
    background: #fff;
    width: 100%;
    border-radius: 25px;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
    font-size: 14px;
}

.more-info-wrap {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-right: 20px;
    gap: 10px;
}

.more-info__item-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.more-info__item-container-second {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.more-info__item-container-third {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.more-info__item {
    align-items: center;
    display: flex;
    gap: 15px; 
    padding: 5px;
    align-items: center;
}

.more-info__item span {
    font-weight: normal;
    font-size: 14px;
}

.line-throught {
    width: 100%;
    height: 1px;
    background: #e9edee;
}
.more-info__item > img {
    width: 24px;
}

.more-info__bottom {
    margin-top: 5px;
}

.more-info__bottom {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.more-info__item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info__item-bottom > div >  img {
    filter: brightness(0) invert(1);
    width: 26px;
    height: 26px;
}

.more-info__item-bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ddd;
    width: 56px; /* Убедитесь, что это значение соответствует высоте */
    height: 56px;
    margin-bottom: 15px;
}
