
.tax {
  min-width: 300px;
  width: 340px;
  height: 560px;
  max-height: 700px;
  perspective: 820px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  
  /* Внутренний контейнер для поворота */
  .tax-inner {
    position: absolute;
    margin: 41px 0;
    width: 99%;
    height: 85%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transform-style: preserve-3d; /* Включаем 3D для дочерних элементов */
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out; 
  }
  
  /* Состояние флипа */
  .tax.flipped .tax-inner {
    transform: rotateY(180deg); /* Вращение вокруг оси Y */
    
  }
  
  .tax.flipped .tax-back {
    transform: rotateY(0deg); /* Разворачиваем заднюю сторону */
    opacity: 1; /* Показываем заднюю сторону */
  }
  
  /* Сторона с передней частью паспорта */
  .tax-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Скрываем заднюю сторону */
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  /* Задняя сторона паспорта */
  .tax-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 15px;
    font-family: 'e-UkraineHead-Regular', sans-serif;
    backface-visibility: hidden;
    font-size: 20px;
    color: #333;
    transform: rotateY(180deg); /* Скрывает заднюю сторону по умолчанию */
    opacity: 0; /* Скрываем заднюю сторону */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Плавный переход */
  }
  
  /* Заголовок паспорта */
  .tax-title {
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-size: 22px;
    font-weight: normal;
  }
  
  .tax-subtitle {
    font-family: 'e-UkraineHead-Regular';
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
  }
  .tax-container {
    padding: 20px;
  }
  
  /* Фото паспорта */
  .tax-photo {
    width: 135px;
    height: 180px;
    border-radius: 15px;
    border: 1px solid #e9edee;
  }
  
  /* Детали паспорта */
  .tax-details {
    margin-top: 20px;
    gap: 20px;
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
  
  .tax-details__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tax-details__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tax-details__right-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .tax-details__right-item > span {
    font-family: 'e-UkraineHead-Regular';
    font-size: 12px;
  }
  
  /* Подпись в паспорте */
  .tax-signature {
    margin-top: 10px;
    width: 100px;
    object-fit: contain;
  }
  
  /* Бегущая строка */
  .marque-wrap {
    background: linear-gradient(90deg, #b6eb9f, #9ccfcf);
    margin: 0 0 0 0;
    padding: 7px 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 13vh;
  }
  
  .marquee {
    display: inline-block;
    font-size: 5px;
    white-space: nowrap;
    animation: marquee 16s linear infinite;
    width: 350%;
  }
  
  .marquee > span {
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-weight: 200;
    font-size: 10px;
  }
  
  /* Анимация бегущей строки */
  @keyframes marquee {
    0% {
      transform: translateX(15%);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  
  /* Нижняя часть паспорта */
  .tax-bottom-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .tax-bottom-left {
    display: flex;
    flex-direction: column;
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  
  .tax-bottom-left > span {
    font-family: 'e-UkraineHead-Regular', sans-serif;
    font-size: 22px;
    font-weight: normal;
  }
  
  .tax-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tax-bottom-right > img {
    filter: brightness(1);
    width: 34px;
    height: 34px;
    transform: rotate(0);
  }
  
  
  .tax-back > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .tax-back > div > h2 {
    font-family: 'e-UkraineHead-Regular';
    font-size: 12px;
    font-weight: normal;
    color: #a1a1a1;
    margin: 30px 0;
  }
  /* QR-код на задней стороне */
  
  .qr-code {
    width: 250px;
    height: 250px;
  }
  
  
  .more-info__bottom {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-top: 40px;
    align-items: center;
  }

  .qr-back {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .more-info__item-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .more-info__item-bottom span {
    font-size: 12px;
    font-family: 'e-UkraineHead-Regular';
    font-weight: normal;
  }
  
  
  .active-code {
    background: black;
    filter: brightness(1) invert(1);
  }
  
  .inactive-code {
    background: #ddd;
    filter: brightness(0) invert(0.5);
  }
  
  
  .more-info__item-bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ddd;
    width: 54px; /* Убедитесь, что это значение соответствует высоте */
    height: 54px;
    margin-bottom: 10px;
  }
  
  /* Стили для активного и неактивного изображения */
  .activeImage {
    width: 22px;
    height: 22px;
    filter: brightness(1) invert(1); /* Устанавливаем обычную яркость для активного */
  }
  
  .inactiveImage {
    width: 22px;
    height: 22px;
    filter: brightness(1) invert(0); /* Уменьшаем яркость для неактивного */
  }

  .tax-bottom-left {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .tax-bottom-left > span {
    font-size: 30px;
  }

  .tax-bottom-left > img {
    width: 20px;
    height: 20px;
  }